<form action="/cart" method="POST">
  <button
    class="inline-block flex-1 sm:flex-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 w-full"
    type="submit"
  >
    Add to Cart
  </button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</form>
